* {
    margin: 0;


}



header {
    background-color: black;
    /*Cor de fundo*/
    padding: 30px;
    /*Respnsavel pelo prenchimento interno/tamanho*/
    display: flex;
    justify-content: space-between;
    gap: 50px;
    align-items: center;


}

.listmen {
display: flex;
justify-content: center;
gap: 250px;
align-items: center;
color: white;
font-size: 21px;

}

/*Estizando a imagem*/
header div img {
    width: 300px;
    height: 150px;
}

.list-menu ul {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.list-menu ul li {
    list-style: none;
}

.list-menu ul li a {
    text-decoration: none;
    color: white;
    font-weight: 600;
}

.inicio {

display: flex;

}

.Advogada {
color: goldenrod


}
.advocacia {
    display: flex;
}

.advocacia h2 {

color: goldenrod


}
.foto {

    padding: 10px;
}
.foto img {

width: 400px;
padding: 80px;

}
.advogada-class {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 80%;
    height: 500px;
   padding-top: 10em;

}

.duda {
    font-size: 40px;
    line-height: 1.25em;


}

.Inicio p {
padding: 100px;
font-size: 25px;
text-align: justify;
line-height: 1.875em;

}







.Inicio button {
padding: 20px;
width: 180px;
background-color: rgb(65, 167, 65);
position: top;




}

 .Inicio span {
color: white;
font-size: 15px;

}

.irineu {
text-align: center;
margin-right: 80px;
padding-bottom: 40px;
margin-top: 60px;
margin-right: 40em;
display: block;
justify-content: center;
align-items: center;




}



.irineu  button{
    padding: 20px;
    width: 180px;
    background-color: rgb(65, 167, 65);

    
    

}


.Segunda {
    padding: 150px; /*Preenchimento/Tamanho da Section*/
   background-color: rgb(22, 21, 21); /*Cor de fundo*/
   display: flex; /*Deixando as divs lado a lado*/
   gap: 15px; /*Espaçamento entre as caixas*/
   justify-content: space-evenly; /*Justificando os conteudo*/
   font-size: 20px;
}

.Segunda div {
   width: 300px; /*Largura da caixa*/
   height: 300px; /*Altura da caixa*/
   background-color: rgba(128, 128, 128, 0.938); /*Cor de fundo da caixa*/
  text-align: center;
  padding: 15px;

}
.div-02 {
   background-image: url(imagem/casa\ quadrada.jpg);
   background-size: cover;
   
}

div i {
   color: yellow;
}

.div-03  img{
   width: 100px;
   height: 100px;


}

.div-03  img:hover {
box-shadow: 10px 10px 20px;
transition: 0.7s;


}

.div-03 p {
   font-size: 17px; /*Tamanho da letra*/
   color: white; /*Cor da letra*/
   font-weight: 600; /*PESO DA FONTE*/
   line-height: 25px;
}




@media screen and (max-width:480px) {
.listmen {
width: 150px;
height: 150px;
}

header div img {

width:100px

}

}
   
header {
width: 150px;
height: 150px;

}


/* Para telas de até 768px (dispositivos móveis e tablets) */
@media (max-width: 768px) {

    header {
        flex-direction: column; /* Organiza o header em coluna em telas pequenas */
        align-items: center;
    }

    .list-menu ul {
        flex-direction: column;
        gap: 10px;
        text-align: center;
    }

    .Inicio {
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    .advocacia {
        flex: 1 1 100%; /* Faz com que o texto ocupe 100% da largura em dispositivos menores */
        margin-bottom: 20px;
    }

    .foto {
        flex: 1 1 100%; /* Faz com que a imagem ocupe 100% da largura em dispositivos menores */
    }

    .foto img {
        max-width: 90%; /* Ajusta a imagem para caber melhor na tela */
    }

    .irineu a button {
        width: 100%; /* Torna o botão de contato 100% da largura da tela */
        font-size: 18px;
    }
}

/* Para telas muito pequenas (como smartphones em orientação vertical) */
@media (max-width: 480px) {
    header img {
        width: 120px; /* Ajusta a logo para telas menores */
    }

    .advogada-class h1 {
        font-size: 1.5rem; /* Ajusta o tamanho do título */
    }

    .advogada-class h2 {
        font-size: 1.2rem; /* Ajusta o tamanho do subtítulo */
    }

    .advogada-class p {
        font-size: 0.9rem; /* Ajusta o tamanho da descrição */
    }
}
